body {
  font-family: sans-serif;
  width: 1350px;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: darkblue;
  color: white;
  text-shadow: 2px;
  text-rendering: 4px;
  border: 2px blue solid;
  top: 0px;
}

article {
  display: flex;
  flex-direction: row-reverse;
}

#video {
  margin: 20px;
  border: 8px blue solid;
  margin-bottom: 180px;
  padding: 20px;
}

video {
  width: 700px;
}

.episode {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 300px;
  width: 1000px;
  margin: 20px;
  padding: 20px;
  list-style-type: none;
  background-color: darkblue;
  border: 8px blue solid;
}

.episode li {
  margin: 10px;
}

.episode {
}

.episode a {
  color: white;
  text-decoration: none;
  border: 2px white solid;
  justify-content: baseline;
}

span {
  color: white;
  border-top: 8px blue solid;
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: darkblue;
  border: 6px blue solid;
  margin-top: 8px;
  padding: 8px;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 180px;
}

nav label {
  margin-left: 210px;
}

#button {
  background-color: darkblue;
  color: white;
  padding: 4px 5px;
  border: 1px solid blue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
